* { /* 초기화 */

   margin: 0;  
   padding: 0;
   

} 


body { /* 바탕 색깔 */
 
  background-color: #F5F5DC;
}


.card {  /* position: relative (자기 자신을 기준으로 상대적으로 배치) */
  
  
  /*  card의 기본 세팅값    */
  width: 650px;
  height: 350px;
  margin: 200px auto;

  
  /* 애니메이션 효과 */
  perspective: 1100px;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}



.front,.back { /* 명함의 앞면 과 뒷면   */
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  width: 100%; /* 부모요소와 크기를 같게한다 */
  height: 100%; /* 부모의 요소와 길이를 같게한다  */
}

.front {
  background:#3a393b ; /* 카드의 색깔 */
  background-image: url("imges/Android.jpg");
  background-position: 350px 150px; /* 안드로이드 이미지의 위치 */
  background-size: 300px; /* 이미지의 크기  */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
}

.back {
 
  background-color: #3a393b; /* 카드의 색깔 */
  backface-visibility: hidden;/* 3D 변환시 요소의 뒷면을 보이거나 가리는 것을 제어합니다. */
  transform: rotateY(180deg); /* Y축을 기준으로 180도 회전  */
  
}


.front_main_text {


  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */
  top: 100px; /* 부모 요소로부터 값의 차이가 있음 */
  left: 80px; /* 부모 요소로부터 값의 차이가 있음 */
  color: #f6ce7e; /* 텍스트 색깔 */
  padding: 10px;
  font-family: "Anton", sans-serif;
  font-weight: 400; /* 폰트 굵기 */
  font-style: normal;
  text-align: center;
  font-size: 50px;
}

.back_main_text {
 
 
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 10px;
  left: 18px;
  color:#f6ce7e; /* 텍스트 색깔 */
  padding: 10px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 25px;


 
 
}

.back_serve_text {
 
  position: absolute;/* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 45px;
  left: 80px;
  transform: translate(-50%); /*  가운데 정렬을 위해 좌우 방향으로 -50%만큼 이동 */
  color:#f6ce7e;
  padding: 10px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 14px;
 
 
}

.back_serve2_text {
 
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 150px;
  left: 97px;
  transform: translate(-50%); /*  가운데 정렬을 위해 좌우 방향으로 -50%만큼 이동 */
  color:#f6ce7e;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 14px;
  
 
}

.back_serve3_text {
 
 
 
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 170px;
  left: 93px;
  transform: translate(-50%); /*  가운데 정렬을 위해 좌우 방향으로 -50%만큼 이동 */
  color:#f6ce7e;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  
 
}

.back_serve4_text {
 
 
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 260px;
  left: 130px;
  transform: translate(-50%); /*  가운데 정렬을 위해 좌우 방향으로 -50%만큼 이동 */
  color:#f6ce7e;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  
 
 
}


.man {
  
  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 55px;
  left: 400px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background : white;
 
 
}

.altText  {

  position: absolute; /* static이 아닌 요소를 기준으로 위치를 결정합니다. */ 
  top: 130px;
  left: 420px;

}
